<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tastetag{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('bundles/framework/css/structure.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/framework/css/exception.css') }}" />
        {% block stylesheets %}
		{% endblock %}
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		{% block javascripts %}
			{% javascripts '@TastetagMainBundle/Resources/public/js/*' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="nav-container">
            {% block navigation %}
				<div class="content-limiter">
					<a href="{{ path('homepage') }}" class="logo">Tastetag</a>
					<nav class="main">	
						{% if app.user %}
							<a href="{{ path('logout') }}">{{ app.user.username }} (logout)</a>
						{% else %}
							<a href="{{ path('login') }}">Log in</a>
						{% endif %}
						<a href="{{ path('account_register') }}">Sign in</a>
						<a href="{{ path('recipe_new') }}">Add Recipe</a>
					</nav>
					<form action="{{ path('recipe_search') }}" method="post" class="main-search">
						<input name="keyword" type="text" class="nav-search" placeholder="Szukaj"/>
					</form>
				</div>
            {% endblock %}
        </div>
		<div class="main-outer-container">
			<div class="content-limiter">
				{% block body %}{% endblock %}
			</div>
		</div>
		
    </body>
</html>
