{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
	<h2>Moje konto</h2>

	<div>Moje przepisy {% if user.admin == 0 %} Jestem adminme {% endif %}</div>
	{% for recipe in recipes %}
    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="recipe-grid-item">
    	<div class="recipe-thumb" style="background-image: url({{asset(recipe.images[0].getWebPath())}})"></div>	
     	<div class="recipe-name">{{ recipe.name }}</div>
     	 <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}" class="edit-recipe">Edit</a>



        <form action="{{ path('recipe_delete', { 'id': recipe.id }) }}" method="post" class="delete-recipe-form">
		    {{ form_widget(deleteForms[recipe.id]) }}
		    <button type="submit" class="delete-recipe">Delete</button>
		    </button>
		</form>
    </a>
    {% endfor %}

    <div>Zapisane przepisy</div>
	{% for recipe in fav_recipes %}
	    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="recipe-grid-item">
	    	<div class="recipe-thumb" style="background-image: url({{asset(recipe.images[0].getWebPath())}})"></div>	
	     	<div class="recipe-name">{{ recipe.name }}</div>
	    </a>
	  {% endfor %}
{% endblock %}