{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="recipe-name">{{ recipe.name }}
    <div class="recipe-owner-actions">
         {% if app.user and (recipe.belongsToUser(app.user.id) or app.user.admin) %}
            <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}" class="edit-recipe">Edytuj</a>

            <form action="{{ path('recipe_delete', { 'id': recipe.id }) }}" method="post" class="delete-recipe-form">
                {{ form_widget(delete_form) }}
                <button type="submit" class="delete-recipe">Usuń</button>
            </form>
        {% endif %}
    </div>
    </div>
    
    <div class="recipe-column-left">
        <span class="fav-count" title="Polubienia: {{ recipe.countFavorites() }}"> {{ recipe.countFavorites() }} </span>
        <div class="recipe-main-image">
            <div class="pikachoose">
                <ul id="pikame" >
                    {% for image in recipe.images %}
                        <li><img src="{{asset(image.getWebPath())}}"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="ingridients-holder">
            <h4>Składniki:</h4>
            <ul>
            {% for ingridient in ingridients %}
                <li>{{ ingridient.amount }} {{ ingridient.unit }} {{ ingridient.name }}</li>
            {% endfor %}
            </ul>
        </div>       
    </div>

    <div class="recipe-column-right">   
        <div class="recipe-actions">

            {% if app.user %}
                <div class="add-to-favorite">
                <div class="icon">  </div>
                {% if recipe.isLikedByUser(app.user.id) %}
                   Zapisany    
                {% else %}
                   {% include 'TastetagMainBundle:Favorites:form.html.twig' with { 'form': favorite_form, 'recipe_id' : recipe.id } %} 
                {% endif %}
                </div>
            {% endif %}
        </div>

        {% for tag in recipe.tags %}
            <a href="{{ path('tag_recipes', {'id': tag.id}) }}" class="tag-item">#{{ tag.name }}</a> 
        {% endfor %}

        <div class="recipe-info-holder">    
            <div class="recipe-info-item" title="Czas przygotowania">
                <div class="icon time"></div> {{ recipe.prepHour }}h {{ recipe.prepMin }}min
            </div>
            <div class="recipe-info-item" title="Trudność">
                <div class="icon difficulty"></div>
                {{ recipe.getdiffDescr }} 
            </div>
            <div class="recipe-info-item" title="Ilość porcji">
                <div class="icon people"></div> {{ recipe.people }} porcji
            </div>
        </div>

        <h4>Przygotowanie:</h4>

        <div class="recipe-description">{{ recipe.description }}</div>

        <div class="recipe-autor">Przepis użytkownika <a href="{{ path('user_profile', {'user_id': recipe.user.id}) }}">{{ recipe.user.username }}</a> </div>

        <div class="comments-holder">       
            <div>Skomentuj przepis:</div>
            <div class="comment-form">
            {% if app.user %}
                {% include 'TastetagMainBundle:Comments:form.html.twig' with { 'form': comment_form, 'recipe_id' : recipe.id } %}
            {% endif %}
            </div>
            {% for comment in recipe.comments %}
                <div class="comment-item">
                    <div><span class="comment-autor">{{ comment.user.username }}</span> skomentował:</div>
                    <div class="comment-date">{{ comment.createdAt|date('Y-m-d H:i') }}</div> 
                    <div class="comment-content">{{ comment.content }}</div> 
                </div>
            {% endfor %}
            </div>
        </div>

<script language="javascript">
    $(document).ready(
        function (){
            $("#pikame").PikaChoose({autoPlay:false});
        });
</script>

{% endblock %}

