{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
	
    <div>{{ entity.name }}</div>
    <div>Difficulty: {{ entity.difficulty }}</div>
    <div>{{ entity.description }}</div>

    <a href="{{ path('recipe_edit', { 'id': entity.id }) }}">Edit</a>

    <form action="{{ path('recipe_delete', { 'id': entity.id }) }}" method="post">
	    {{ form_widget(delete_form) }}
	    <button type="submit">Delete</button>
	</form>

{% endblock %}