{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
	
    <h2>{{ recipe.name }}</h2>
    <div>Difficulty: {{ recipe.difficulty }}</div>
    <div>{{ recipe.description }}</div>
    <div>Składniki:</div>
    {% for ingridient in ingridients %}
        <li>{{ ingridient.name }} - {{ ingridient.amount }} {{ ingridient.unit }}</li>
    {% endfor %}

    <div class="recipe-images">
        {% for image in recipe.images %}
            <img src="{{asset(image.getWebPath())}}"> 
        {% endfor %}
    </div>

    <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">Edit</a>

    <form action="{{ path('recipe_delete', { 'id': recipe.id }) }}" method="post">
	    {{ form_widget(delete_form) }}
	    <button type="submit">Delete</button>
	</form>

    <div>Comments:</div>
    {% include 'TastetagMainBundle:Comments:form.html.twig' with { 'form': comment_form, 'recipe_id' : recipe.id } %}
    {% for comment in comments %}
        <div>{{ comment.content }}</div>
        <div>{{ comment.createdAt|date('Y-m-d H:i') }}</div>
    {% endfor %}

{% endblock %}