{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
  <div class="popular-tags-holder"> 
  {% for tag in tags %}
      <a href="{{ path('tag_recipes', {'id': tag.id}) }}" class="tag-item">#{{ tag.name }}</a> 
    {% endfor %}
  </div>   
    
	{% for entity in entities %}
    <a href="{{ path('recipe_show', {'id': entity.id}) }}" class="recipe-grid-item">
    	<div class="recipe-thumb" style="background-image: url({{asset(entity.images[0].getWebPath())}})"></div>	
     	<div class="recipe-name">{{ entity.name }}</div>
    </a>
  {% endfor %}
{% endblock %}