{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
	<form action="{{ path('recipe_search') }}" method="post" >
		<input name="keyword" type="text" />
        <input type="submit" value="Szukaj" >
	</form>

	{% for result in results %}
    <a href="{{ path('recipe_show', {'id': result.id}) }}" class="result-grid-item">
    	<div class="recipe-thumb" style="background-image: url({{asset(result.images[0].getWebPath())}})"></div>	
     	<div class="recipe-name">{{ result.name }}</div>
    </a>
   {% endfor %}
{% endblock %}