{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
<div class="tag-search-form">
	<div class="selected-tags">	
			{{ tag.name }} +
	</div>	
	<form action="{{ path('tag_search') }}" method="post" >
		<input name="tag1" type="text" placeholder="Tag" value="{{ tag.name }}"class="tag-input" id="tag_search1"/> 
		<span class="tag-plus">+</span>
		<input name="tag2" type="text" placeholder="Tag" class="tag-input" id="tag_search2"/>
		<span class="tag-plus">+</span>
		<input name="tag3" type="text" placeholder="Tag" class="tag-input" id="tag_search3"/>
	    <div><input type="submit" value="Szukaj" class="btn submit-tags"></div>
	</form>
</div>
	
	{% for recipe in recipes %}
	    <div  class="result-grid-item"> 
            <div class="recipe-thumb" style="background-image: url({{asset(recipe.images[0].getWebPath())}})"></div>
            <div class="result-info">
                <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="result-name">{{ recipe.name }}</a>  
                <div class="recipe-info-item" title="Czas przygotowania">
                    <div class="icon time"></div> {{ recipe.prepHour }}h {{ recipe.prepMin }}min
                </div>
                <div class="recipe-info-item" title="Trudność">
                    <div class="icon difficulty"></div>
                    {{ recipe.getdiffDescr }} 
                </div>
                <div class="recipe-info-item" title="Ilość porcji">
                    <div class="icon people"></div> {{ recipe.people }} porcji
                </div>

                <div class="result-tags">   
                {% for tag in recipe.tags %}
                    <a href="{{ path('tag_recipes', {'id': tag.id}) }}" class="tag-item">#{{ tag.name }}</a> 
                {% endfor %}
                </div>
            </div>
        </div>
	{% endfor %}

<script type="text/javascript">
	$("#tag_search1").autocomplete({
    minLength: 1,
    source: function(request, response) {
        $.ajax({
            url: "{{path('live_tag_search')}}",
            data: { tagname: $("#tag_search1").val()},
            dataType: "json",
            type: "POST",
            success: 
            function(data) { 
                response(
                   data.tags
                );
            }
    	});
	}
});
	$("#tag_search2").autocomplete({
    minLength: 1,
    source: function(request, response) {
        $.ajax({
            url: "{{path('live_tag_search')}}",
            data: { tagname: $("#tag_search2").val()},
            dataType: "json",
            type: "POST",
            success: 
            function(data) { 
                response(
                   data.tags
                );
            }
    	});
	}
});
	$("#tag_search3").autocomplete({
    minLength: 1,
    source: function(request, response) {
        $.ajax({
            url: "{{path('live_tag_search')}}",
            data: { tagname: $("#tag_search3").val()},
            dataType: "json",
            type: "POST",
            success: 
            function(data) { 
                response(
                   data.tags
                );
            }
    	});
	}
});
</script>	
{% endblock %}