{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}

<form action="{{ path('tag_search') }}" method="post" >
	<input name="tag1" type="text" placeholder="Tag" value="{{ req['tag1'] }}"/>
	<input name="tag2" type="text" placeholder="Tag" value="{{ req['tag2'] }}"/>
	<input name="tag3" type="text" placeholder="Tag" value="{{ req['tag3'] }}"/>
    <div><input type="submit" value="Szukaj" ></div>
</form>
	
	{% for recipe in recipes %}
	    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="recipe-grid-item">
	    	<div class="recipe-thumb" style="background-image: url({{asset(recipe.images[0].getWebPath())}})"></div>	
	     	<div class="recipe-name">{{ recipe.name }}</div>
	    </a>
	{% endfor %}
	
{% endblock %}